@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
  
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.ui.form .field>label {
  display: block;
  margin: 0 0 .28571429rem 0;
  color:#fff !important;
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}

.ui.checkbox label, .ui.checkbox+label {
  color: #fff !important;
  transition: color .1s ease;
}